<!DOCTYPE html>
<html>
<head>
  <title>中大抖腿</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/flipclock.css">
  <link rel="stylesheet" type="text/css" href="/static/css/component.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <!-- <div class="background">
  </div> -->
  <div id="buttons">
    <nav class="cl-effect-10 reload">
      <a href="#" data-hover="更新数据"><span>更新数据</span></a>
    </nav>
    <nav class="cl-effect-10 convertLB">
      <a href="#" data-hover="切换图表"><span>切换图表</span></a>
    </nav>
  </div>
  <div id="today-data">
    <h1>今日抖腿</h1>
    <div class="clock"></div>
  </div>
  <div id="history-data">
    <h1>历史数据</h1>
   
    <div class="history chart">
      <canvas id="bar"></canvas>
      <canvas id="line"></canvas>
    </div>
  </div>
  <div id="title">
    <nav class="cl-effect-12">
      <a><span class="title">中</span></a>
    </nav>

    <nav class="cl-effect-12">
      <a><span class="title">大</span></a>
    </nav>

    <nav class="cl-effect-12">
      <a><span class="title">抖</span></a>
    </nav>

    <nav class="cl-effect-12">
      <a><span class="title">腿</span></a>
    </nav>
  </div>
  <!-- <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
  <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/Chart.min.js"></script>
  <script type="text/javascript" src="/static/js/flipclock.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
  <script type="text/javascript" src="/static/js/showdata.js"></script>
</body>
</html>